[Unit]
Description=DAB+ DL+/MOT Encoder
Documentation=http://wiki.opendigitalradio.org/ODR-PadEnc
Before=odr-audioenc@%i.service

[Service]
ExecStartPre=/bin/mkdir -p /var/tmp/odr/padenc/%i/slides
ExecStartPre=/bin/mkdir -p /var/tmp/odr/padenc/%i/texts
ExecStartPre=/bin/mkfifo /var/tmp/odr/padenc/%i/pad.fifo
ExecStart=/usr/bin/odr-padenc -c 0 -r -o /var/tmp/odr/padenc/%i/pad.fifo -t /var/tmp/odr/padenc/%i/texts -d /var/tmp/odr/padenc/%i/slides
ExecStopPost=/bin/rm -f /var/tmp/odr/padenc/%i/pad.fifo
User=odr-padenc
Group=odr-padenc

[Install]
WantedBy=multi-user.target
